*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#page-wrapper #sidebar-container{
    background-color: #0099CC;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    max-width: 240px;
    height: 100%;
    padding: 40px 0;
    transition: all 0.5s ease;
}

#sidebar-block{
    display: table;
    width: 100%;
}

#sidebar-block__logo{
    display: table-row;
    background-color: white;
}

#logo-container{
    display: table-cell;
}

#logo-block{
    margin-top: 5px;
    margin-bottom: 10px;
}

.logo-block__element{
    text-align: center;
}

h1.logo-block__element{
    font-size: 35px;
}

#page-wrapper #sidebar-container #sidebar-block__menu ul li a{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 0px; 
    color: white;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

#page-wrapper #sidebar-container #sidebar-block__menu ul li a .list-element__icon{
    width: 20px;
    display: inline-block;
}

#page-wrapper #sidebar-container #sidebar-block__menu ul li a:hover,
#page-wrapper #sidebar-container #sidebar-block__menu ul li a:active{
    color: #1766a7;
    background-color: white;
    border-right: 4px solid #0099CC;
}

#page-wrapper #sidebar-container #sidebar-block__menu ul li a:hover .list-element__icon,
#page-wrapper #sidebar-container #sidebar-block__menu ul li a:active .list-element__icon{
    color: #1766a7;
}

#page-wrapper #sidebar-container #sidebar-block__menu ul li a:hover:before,
#page-wrapper #sidebar-container #sidebar-block__menu ul li a:active:before{
    display: block;
}

/* #form-block__label{
    font-size: 16px;
}

#form-block__save{
    background-color: #0099CC;
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}

.form-block__element{
    margin-top: 20px !important;
} */
