html{
    background-color: white;
    border: 1px solid black;
}

body{
    width: 400px;
	height: 350px;
    background-color: #f8f8f8;
    border: 1px solid black;
}

#head-container{
    display: table;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 100%;
}

#body-container{
    margin-left: 20px;
}

#head-block{
     display: table-row;
}

#logo-container{
    float: left;
    display: table-cell;
    width: 60%;
}

.logo-block__element{
    margin: 0;
}

h1.logo-block__element{
    font-size: 35px;
}

#menu-container{
    float: right;
    cursor: pointer;
    display: table-cell;
    margin-right: 30px;
}


.menu-block__button{
    width: 40px;
    height: 40px;
    background-color: #0099CC;
    color: white;
    font-size: 20px;
    text-align: center;
    display: block;
}


#on-off-block--toggle{
    width: 70px;
    height: 25px;
    padding: 5px;
    bottom: 0;
    right: 0;
    border-radius: 45px;
    position: fixed;
    margin-bottom: 25px;
    margin-right: 25px;
    background-color: #0099CC;
    transition: all 300ms ease-in-out;
}


#on-off-block--toggle > #on-off-block__circle{
    width: 30px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 40px;
}


#on-off-block--toggle.inactive{
    background-color: gray;
}

#on-off-block--toggle.inactive > #on-off-block__circle{
    margin: 0;
}

#form-block__label{
    font-size: 16px;
}

#form-block__submit{
    background-color: #0099CC;
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}

.body-container__element{
    margin-bottom: 20px;
}